<component name="ArtifactManager">
  <artifact type="war" name="springcloudtest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-cloud-test-1.0.war">
      <element id="artifact" artifact-name="springcloudtest:war exploded" />
    </root>
  </artifact>
</component>